select {
  background:#fff;
  color: indigo;
  width:310px; 
  height: 40px; 
  font-size:0.5cm;
  border-radius: 8px;
}

  a {
    text-decoration: none;
  }
.Verify-id {
    width: 300px;
    padding: 30px;
    margin: 10% auto;
    color: #fff;
    background: linear-gradient(90deg, blue, indigo, #90f, indigo, green);
    border-radius: 8px;
}

.Verify-id h1,
p {
    text-align: center;
    margin: 5px 0;
    color: #0f0;
}

.Verify-id p:nth-child(2) {
    margin-bottom: 10px;
    font-size: 14px;
}

.Verify-id .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.Verify-id .flex input[type=text] {
    width: 110px;
    border: none;
    outline: none;
    height: 38px;
    padding-left: 10px;
}
#input{
  border-radius: 5px;
  color: indigo;
}

.Verify-id input#input {
    width: 100%;
    height: 38px;
    padding-left: 10px;
    border: none;
    outline: none;
    margin: 10px 0;
}

.Verify-id button {
    width: px;
    height: cm;
    font-size: 0.7cm;
    font-weight: 1000;
    outline: none;
    background: #fff;
    color: blue;
    cursor: pointer;
    border: 2px solid #0f0;
    border-radius: 11px;
    padding: 5px 10px;
    box-shadow: 4px 4px 6px green;
    text-shadow: 3px 3px 5px green;
}
.Verify-id button:hover {
  background: indigo;
  color: red;
  border: 2px solid red;
}
